.container{
    width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.table{
    width: 960px;
    height: auto;
}
.card{
    width: 40px;
    height: 55px;
    border: 1px solid rgba(0, 0, 0, 0.65);
    display: flex;
    align-items: center;
    /* list-style-type: none; */
    flex-flow: column;
    overflow: hidden;
    border-radius: 1.5px;
    background: #fff;
}
.valueBlock{
    width: 100%;
    display: flex;
    justify-content: left;
    height: 10px;
}
.value{
    font-size: 13px;
    font-weight: 700;
    margin-left: 1px;
}
.suitImg{
    width: 30px;
    height: 30px;
    margin-top: 5px;
}
.cardsOnTheTable{
    width: 55px;
    height: 70px;
    border: 2px solid #808080;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3px;
}
.blocks{
    display: flex;
}
.hisCardsBlock{
    position: absolute;
    width: 960px;
    justify-content: center;
    margin-top: 40px;
    z-index: 2;
}
.ourCardsBlock{
    position: absolute;
    width: 960px;
    justify-content: center;
    margin-top: 200px;
}
.ourCardsLeft{
    width: 53%;
    display: flex;
    justify-content: flex-end;
}
.ourCardsRight{
    width: 45%;
    display: flex;
    justify-content: flex-start;
}
.myCardsBlock{
    position: absolute;
    width: 960px;
    justify-content: center;
    margin-top: 350px;
}
.backgroundBlock{
    margin-top: initial;
    z-index: 1;
    position: absolute;
}


.dealerWinBlock{
    position: absolute;
    width: 200px;
    height: 50px;
    top: 0px;
    left: 0px;
    right: 0;
    margin: 0 auto;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #005B13;
}
.draw{
    position: absolute;
    width: 200px;
    height: 50px;
    top: 258px;
    left: 0px;
    right: 0;
    margin: 0 auto;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #005B13;
}
.youWinBlock{
    position: absolute;
    width: 200px;
    height: 50px;
    top: 420px;
    left: 0px;
    right: 0;
    margin: 0 auto;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #005B13;
}
.ourBlocks{
    width: 180px;
    height: 35px;
    border: 1px dashed red;
    border-radius: 5px;
    border-width: revert;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ourBlocks {
    animation: blinker 1s linear 3;
  }
  
  @keyframes blinker {
    50% {
      opacity: 0.6;
    }
  }
.outTitle{
    color : red;
}
.pointsBlock{
    display: flex;
    align-items: center;
    position: absolute;
    top: 450px;
    right: 0;
}
.point{
    display: flex;
    flex-flow: column;
    align-items: center;
}
.line{
    width: 2px;
    height: 70px;
    background-color: #000;
    margin-left: 10px;
    margin-right: 10px;
}
.pointerDesc{
    margin-top: 0;
}
.yourCombBlock{
    position: absolute;
    width: 170px;
    height: 50px;
    top: 420px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #005B13; */
    left: 210px;
}
.dealerCombBlock{
    position: absolute;
    width: 170px;
    height: 50px;
    top: 0;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #005B13; */
    left: 210px;
}
.combBlockItem{
    width: 180px;
    height: 35px;
    border: 1px dashed goldenrod;
    border-radius: 5px;
    border-width: revert;
    display: flex;
    justify-content: center;
    align-items: center;
}
.combTitle{
    color:goldenrod;
}